body{
	background: linear-gradient(to right,#3336ff,#ff33f6);
	margin-left: 20%;
	margin-right: 20%;
}
h1{
	margin-left: 45%;
	margin-bottom:10%;
	color:white;
}
label{
	color:white;
}
#btn {
	width: 20%;
	margin: 3% auto;
	color:white;
	font-size: 15px;
	opacity: .7;
	background: rgba(255,255,255,0.06);
	margin-left: 40%;
	padding: 10px 30px;
	border:none;
	outline:none;
	border-radius: 10%;
	text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
	box-shadow: 3px 3px 5px rgba(31,38,135,.37);
	border-left: 1px solid rgba(255,255,255,.3);
	border-top: 1px solid rgba(255,255,255,.3);
  }